body {
  margin: 20px 40px;
}

.job {
  width: 80%;
  display: flex;
  margin: 20px 0;
  padding: 20px 10px;
  justify-content: space-between;
}

.job:hover {
  cursor: pointer;
  color: #666666;  
}

.job-company {
  padding: 0px 30px;
}

.job-dialog {
  padding: 30px 50px
}