.hero-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container {
    height: 65vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

.hidden {
    margin-top: auto;
    visibility: hidden;
}

.title-container {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
