.job {
    width: 60%;
    display: flex;
    margin: 20px 0;
    padding: 20px 10px;
    justify-content: space-between;
}

.job:first-child {
    margin-top: -5px;
}
  
.job:hover {
    cursor: pointer;
    color: #666666;  
}
  