
.job-board-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

.jobs-container {
    width: 100%;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

.curved-upper {
    display: block;
    margin: -2px 0px;
}

.search-container {
    margin-top: -225px;
    margin-bottom: 75px;
    border: solid blueviolet 3px;
    color: white;
}

.search-title {
    font-family: 'Proza Libre' !important;
}

.mobile-stepper {
    width: 50%;
}